@import url('https://fonts.googleapis.com/css?family=Princess+Sofia|Open+Sans');

body {
  background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    bacground-size:cover;
    color: white;
}

h1 {
  color: white;
  text-align: center;
  font-family: Princess Sofia;
  font-size: 56px;
}

input {
  

}

h2 {
  color: white;
  text-align: center;
  font-family: Princess Sofia;
  font-size: 45px;
}

p, ul {
  color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  font-family: Open Sans;
}

a {
  color: red;
}

.button-container {
  text-align: center;
  margin: auto;
  padding: 0;
}

.quizarea {
  background-color: rgba(1, 46, 119, 0.8);
}

button {
  display: inline-block;
  margin: auto;
  font-size: 16px;
}

div {
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
}

#result {
  color: white;
  text-align: center;
  font-size: 45px;
}
